{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
{% endblock %}

{% block body %}
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle" style="width: 250px;">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}