{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="uk-clearfix">
        Neuer Check
        <small class="uk-text-muted uk-float-right">{{ checklist.name }}</small>
    </h1>
    {{ form(form) }}
{% endblock %}