{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Wähle eine Checkliste:</h1>
    <div class="uk-grid">
        {% for checklist in checklists if checklist.tasks|length %}
            <div class="uk-width-medium-1-3">
                <a class="uk-button uk-button-primary uk-button-large uk-width-1-1"
                   href="{{ path('check_new', {'checklist': checklist.id}) }}">
                    {{ checklist.name }}<br>
                    <small>{{ checklist.description }}</small>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}