{% extends 'layout.html.twig' %}

{% block content %}
    <a href="{{ path('checklist_new') }}" class="uk-button uk-button-success uk-button-large">
        <i class="uk-icon-plus"></i>
        {{ 'New Checklist'|trans }}
    </a>
{% endblock %}
