{% extends 'layout.html.twig' %}

{% block content %}
    <a href="{{ path('check') }}" class="uk-button uk-button-success uk-button-large uk-display-block">
        <i class="uk-icon-check"></i>
        {{ 'Start new check'|trans }}
    </a>
{% endblock %}
