parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       smtp.crea.de
    mailer_user:       cms@crea.de
    mailer_password:   crea2525

    secret:            ThisTokenIsNotSoSecretChangeIt

    locale:            en