{% extends 'layout.html.twig' %}

{% block content %}
    <h1>
        Neue Checkliste
        <a href="{{ path('checklist_index') }}" class="uk-button uk-button-primary uk-float-right">
            <i class="uk-icon-list"></i>
            Liste
        </a>
    </h1>

    {{ form(form) }}
{% endblock %}
