{% extends 'layout.html.twig' %}

{% block content %}
    <h1>
        Benutzer hinzufügen
        <a href="{{ path('user_index') }}" class="uk-button uk-button-primary uk-float-right">
            <i class="uk-icon-users"></i> Liste
        </a>
    </h1>

    {{ form(form) }}
{% endblock %}
