{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="uk-clearfix">
        Kategorie bearbeiten
        <a href="{{ path('taskcategory_index') }}" class="uk-button uk-button-primary uk-float-right">
            <i class="uk-icon-folder"></i> List
        </a>
    </h1>

    {% for message in app.session.flashBag.get('success') %}
        <div class="uk-alert uk-alert-success" data-uk-alert>
            <a href="" class="uk-alert-close uk-close"></a>
            {{ message }}
        </div>
    {% endfor %}

    {{ form(edit_form) }}
{% endblock %}
