{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="uk-clearfix">
        Kategorien
        <a href="{{ path('taskcategory_new') }}" class="uk-button uk-button-success uk-float-right">
            <i class="uk-icon-plus"></i> Neue Kategorie
        </a>
    </h1>

    <div class="uk-overflow-container">
        <table class="uk-table">
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for taskCategory in taskCategories %}
                <tr>
                    <td>{{ taskCategory.name }}</td>
                    <td class="uk-text-right">
                        <a href="{{ path('taskcategory_edit', { 'id': taskCategory.id }) }}"
                           class="uk-button uk-button-primary">
                            <i class="uk-icon-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
