{% extends 'layout.html.twig' %}

{% block content %}
    <h1>
        Kategorie hinzufügen
        <a href="{{ path('taskcategory_index') }}" class="uk-button uk-button-primary uk-float-right">
            <i class="uk-icon-folder"></i> List
        </a>
    </h1>

    {{ form(form) }}
{% endblock %}
