{% extends "::layoutLogin.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block bodyClasses %}login{% endblock %}

{% block content %}
    <p class="uk-contrast">
        {{ 'resetting.check_email'|trans({'%email%': email}) }}
    </p>
{% endblock %}
