{% extends 'layout.html.twig' %}

{% block content %}
    <h1>
        Aufgaben
        <a href="{{ path('task_new') }}" class="uk-button uk-button-success uk-float-right">
            <i class="uk-icon-plus"></i> Neu
        </a>
    </h1>

    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Beschreibung</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td class="uk-text-right">
                    <a href="{{ path('task_edit', { 'id': task.id }) }}" class="uk-button uk-button-primary">
                        <i class="uk-icon-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
