{% extends 'layout.html.twig' %}

{% block content %}
    <h1>
        Aufgabe hinzufügen
        {% if checklist is not null %}
            <small class="uk-text-muted">{{ checklist.name }}</small>
        {% endif %}
    </h1>

    {{ form(form) }}
{% endblock %}
