{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="uk-clearfix">
        Aufgabe
        <a href="{{ path('task_index') }}" class="uk-button uk-button-primary uk-float-right">
            <i class="uk-icon-check-square-o"></i> Liste
        </a>
    </h1>

    <h2>{{ task.name }}</h2>

    <p>{{ task.description }}</p>
{% endblock %}
